main {
  max-width: 840px;
}

aside {
  width: 200px;
  margin: 20px;
  border: 1px solid #333;
  padding: 10px;
  background-color: #f0f0f0;
  color: #222;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
  border: 2px solid gray;
  padding: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #333;
  text-align: center;
}

nav {
  background-color: teal;
  padding: 12px;
}

nav a {
  color: white;
  padding: 15px;
  display: block;
}

h1 {
  color: darkgreen;
}

h2 {
  color: darkgreen;
}

.gallery img {
  width: 180px;
  height: auto;
  border: 2px solid gray;
  padding: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
